.rst-btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 1px;
    text-decoration: none;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1.5rem;
    background: red;
    color: #ffffff;
    text-align: center;
	text-shadow: none;
}
